<nav class="navbar">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="navbar-brand" routerLink="home">MotoFull</a>
                <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
                <a class="nav-link" routerLink="formularios">Formulario</a>
                <a class="nav-link" routerLink="clientes">Clientes</a>
            </div>
        </div>
    </div>
</nav>