form {
    max-width: 50%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    opacity: 0.9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 90%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

input[type="date"] {
    width: 90%;
    font-size: large;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

button[type="reset"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="reset"]:hover {
    background-color: #555;
}

.form-container {
    background-image: url('../../../assets/portada.webp');
    background-size: cover;
    background-position: center center;
}

.but {
    padding: 1em;
    display: flex;
    justify-content: center;
}

.moto{
    display: flex;
    justify-content: space-around;
}