<div class="form-container">
    <form [formGroup]="MyNewForm">
        <div>
            <label for="name"> Nombre: </label>
            <input type="text" #name id="name" formControlName="name">
        </div>
        <div>
            <label for="last_name"> Apellido paterno: </label>
            <input type="text" #last_name id="last_name" formControlName="last_name">
        </div>
        <div>
            <label for="last_name2"> Apellido materno: </label>
            <input type="text" #last_name2 id="last_name2" formControlName="last_name2">
        </div>
        <div>
            <label for="email"> Correo electrónico: </label>
            <input type="email" #email id="email" formControlName="email">
        </div>
        <div>
            <label for="phone"> Teléfono: </label>
            <input type="text" #phone id="phone" formControlName="phone">
        </div>
        <div>
            <label for="address"> Dirección: </label>
            <input type="text" #address id="address" formControlName="address">
        </div>
        <div>
            <label for="city"> Ciudad: </label>
            <input type="text" #city id="city" formControlName="city">
        </div>
        <div>
            <label for="date"> Fecha: </label>
            <input type="date" #date id="date" formControlName="date">
        </div>
        <div class="moto">
            <div>
                <label for="bike"> Tienes moto? </label>
                <input type="checkbox" #bike id="bike" formControlName="bike">
            </div>
            <div>
                <label for="bike_model">Tipo de moto: </label>
                <input type="text" #bike_model id="bike_model" formControlName="bike_model">
            </div>
        </div>
        <div class="but">
            <button type="reset" [disabled]="!MyNewForm.valid" (click)="onSubmit()">Enviar</button>
        </div>
    </form>
</div>